.assets/
.vscode/
.patches/
applet/build/
sysmodule/build/
applet/applet.elf
applet/applet.npdm
applet/applet.nso
applet/applet.nsp
tests/
sysmodule/sysmodule.elf
sysmodule/sysmodule.npdm
sysmodule/sysmodule.nso
sysmodule/sysmodule.nsp
applet/applet.nacp
dist/
*.log
*.elf
*.nro
*.nso
*.nsp
btdrv-mitm/build/
