[submodule "Atmosphere-libs"]
	path = lib/Atmosphere-libs
	url = https://github.com/Atmosphere-NX/Atmosphere-libs.git
[submodule "libnx"]
	path = lib/libnx
	url = https://github.com/switchbrew/libnx.git
